# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data and model artifacts
/data/
/models/
*.csv
*.pkl
*.joblib

# Environment files
.env
.venv
venv/
ENV/
